body {
    font-family: 'Exo', sans-serif;
	min-width: 100%;
	min-height: 100%;
}

html {
    position: relative;
    min-height: 100%;
  }

body.welcome {
	/* background: #999 ; */
	background-image: url('/assets/images/bg-depan.jpg');
	background-repeat: no-repeat;
	background-position: 100%;
    background-attachment: fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
   /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
	
}
.selection img:hover{
	background-color: grey;
	border-radius: 45px;
}
.selection img:hover:before {
    background-color: rgba(55, 124, 156, 0.175);
    color: rgb(104, 165, 245);
}

.footer{
	margin-top: 50px;
}

