:root{
	--img-bg: url(https://user-images.githubusercontent.com/50357969/136494899-154d7e19-1de9-4653-b96a-9495524864b3.jpg)
}
body {
    font-family: 'Exo', sans-serif;
	min-width: 100%;
	min-height: 100%;
}

html {
    position: relative;
    min-height: 100%;
  }

body.welcome {
	/* background: #999 ; */
	background-image: var(--img-bg);
	background-repeat: no-repeat;
	background-position: 100%;
    background-attachment: fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
   /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
	
}
.selection img:hover{
	background-color: rgb(122, 112, 112);
	border-radius: 45px;
	
}
.selection img:hover:before {
    background-color: rgba(55, 124, 156, 0.175);
    color: rgb(104, 165, 245);
}

.footer{
	margin-top: 50px;
}

